@-webkit-keyframes menuAnimate{
	0%{
		-webkit-transform: rotateZ(0deg);
		transform: rotateZ(0deg) ;	
	}100%{
		-webkit-transform: rotateZ(360deg);
		transform: rotateZ(360deg) ;	
	}
}@-webkit-keyframes menuAnimateOff{
	0%{
		-webkit-transform: rotateZ(0deg);
		transform: rotateZ(0deg) ;	
	}100%{
		-webkit-transform: rotateZ(-360deg);
		transform: rotateZ(-360deg) ;	
	}
}


#site-title{
	text-align: left;
}

@media screen and (min-width: 1030px){
	/*.menuSlider{
		display: none;
	}*/
	.menuSlider .menuSlider-action{
		display: none !important;
	}
}

.menuSlider{
	position: fixed;
	top: 0;
	right: 0;
	z-index: 10000000;
	width: 100%;
	height: 100%;
	-webkit-perspective: 600px;
	perspective: 600px;	
	pointer-events:none;
}.menuSlider .menuSlider-action{
	pointer-events:auto;
	outline: none;
	position: fixed;
	top: 27px;
	right: 12px;
	background: url(../img/menu.png);
	z-index: 100;
	display: table;
	width: 40px;
	height: 40px;
	background-position: center;
	background-size: 81%;
	background-repeat: no-repeat;

	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg) ;	


	-webkit-transform-style: preserve-3d;
	-webkit-transition: -webkit-transform 500ms;
	-webkit-perspective-origin: 0% 0%;

	transform-style: preserve-3d;
	transition:  -webkit-transform 500ms;
	perspective-origin: 0% 0%;

	transition:300ms;

	-webkit-animation-name: menuAnimateOff;
    -webkit-animation-duration: 500ms;
}.menuSlider .menuSlider-action:hover{
	-webkit-transform: scale(1.2) ;
	transform: scale(1.2) ;	


}.menuSlider .menuSlider-wrapper{	
	width: 100%;
	height: 100%;
	transition:300ms;

}.menuSlider .menuSlider-wrapper .menuSlider-content{	
	pointer-events:auto;
	background: #43494C;
	width: 100%;
	height: 100%;
	margin-left: -100%;
	border-right: 1px solid #3C3C3C;
	transition:300ms;
	position: relative;
	mar
}.menuSlider .menuSlider-action[data-status="active"] {
	-webkit-animation-name: menuAnimate;
    -webkit-animation-duration: 500ms;
  
	outline: none;
	position: fixed;
	top: 27px;
	right: 12px;
	background: url(../img/close-menu.png);
	z-index: 1000;
	display: table;
	width: 40px;
	height: 40px;
	background-position: center;
	background-size: 81%;
	background-repeat: no-repeat;
	
}.menuSlider .menuSlider-action[data-status="active"] + .menuSlider-wrapper {	
	background: rgba(0, 0, 0,.7);
}.menuSlider .menuSlider-action[data-status="active"] + .menuSlider-wrapper .menuSlider-content{	
	width: 80%;
	margin-left: 0%;
	box-shadow: 3px 0px 11px -3px rgba(0,0,0,.7);
	overflow-y:auto;
	overflow-x:hidden;
	padding-top: 54px;
}

@media screen and (min-width: 1030px){
	.menuSlider .menuSlider-action[data-status="active"]{
		top: 37px;
		right: 48px;
	}
	.menuSlider .menuSlider-action[data-status="active"] + .menuSlider-wrapper .menuSlider-content{	
		width: 30%;	
	}
	
}

/* menu original */
ul.mega-sub-menu {
display: none !important;
}


.menuSlider  .menuSlider-action[data-status="active"]{
		display: table !important;
	}


.menuSlider  .menuSlider-wrapper .menuSlider-content h2{	
	font-family: 'Open Sans';
	padding-top: 10px;
	padding-bottom: 10px;
	color: transparent !important;
	font-weight: bold;
	background: url(../img/logo.png);
	background-repeat: no-repeat;
	background-position: center 6px;
	background-size: 235px;
	position: absolute;
	width: 100%;
	top: 0px;
}



.menuSlider .menu {
	margin: 10px 0px;
	padding: 0px;
	
}.menuSlider .menu li.menu-item-has-children > a{
	font-weight: bold;
	color: #ABE225 !important;
	display: none;
}.menuSlider .menu li.menu-item-has-children > ul.sub-menu li .sub-menu a{
	/*padding-left: 40px;*/
}.menuSlider .menu li {
	list-style: none;
}.menuSlider .menu li a{
	padding: 10px;
	color: #fff !important;
	text-transform: uppercase;
	display: table;
	width: 100%;
	text-align: left;
}.menuSlider .menu li a:hover{	
	background: rgba(0,0,0,.3);
}.menuSlider .menu ul{	
	margin: 0px;
	padding: 0px;
}

/*.menuSlider .menu .mega-menu-toggle + #mega-menu-primary{
	display: block;
}.menuSlider .menu .mega-menu-toggle + #mega-menu-primary li{
	background: transparent !important;
	position: relative;
}.menuSlider .menu .mega-menu-toggle + #mega-menu-primary li a{	
	color: #fff !important;
}.menuSlider .menu .mega-menu-toggle + #mega-menu-primary > li:hover{
	
	
}.menuSlider .menu .mega-menu-toggle + #mega-menu-primary > li:hover > a{
	background: rgba(0,0,0,.7) !important;
	color: #fff !important;
}.menuSlider .menu {
	background: transparent !important;
}
.menuSlider #mega-menu-primary > li:hover > ul.mega-sub-menu{
	display: block !important;
}.menuSlider #mega-menu-primary > li > ul.mega-sub-menu{
	top: 120% !important;
	position: absolute !important;
	height: 210px !important;
	overflow-y: scroll !important;
	overflow-x: hidden !important;
	background: #333 !important;
	width: 100% !important;

	position: absolute !important;
	bottom: 37px !important;
	top: inherit !important;
	display: none !important;
}*/